<table class="be-calendar-table">
    <thead>
        <tr>
            <th *ngFor="let header of getHeaders()">{{ header.getContent() }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of getRows()">
            <td *ngFor="let cell of row.getCells()">
                <h2>{{ cell.getTitle() }}</h2>
                <div class="content">
                    {{ cell.getContent() }}
                </div>
            </td>
        </tr>
    </tbody>
    <tfoot></tfoot>
</table>