<mat-toolbar [class.mat-eleveation-z5]="true">About</mat-toolbar>
<mat-grid-list cols="5">
    <mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui laborum cupiditate architecto quo, facere modi assumenda odit similique praesentium dignissimos ab maxime iure magni illum nisi iste rerum ea pariatur.</mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>
</mat-grid-list>
<button mat-button color="primary">Test</button>
<button mat-button color="accent">Test</button>
<button mat-button color="warn">Test</button>

<button mat-raised-button color="primary">Test</button>
<button mat-raised-button color="accent">Test</button>
<button mat-raised-button color="warn">Test</button>