<table class="be-calendar-table">
    <thead>
        <tr>
            <th>Week</th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Sun</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of getRows()">
            <td *ngFor="let cell of row.getCells()">
                <h2>{{ cell.getTitle() }}</h2>
                <div class="content">
                    {{ cell.getContent() }}
                </div>
            </td>
        </tr>
    </tbody>
    <tfoot></tfoot>
</table>